<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
  integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="mb-3">
        <h5 class="card-title" style="font-size: 24px; font-weight: bold;">
          Danh sách môn học
          <span style="font-weight: normal; color: gray; margin-left: 8px;"></span>
        </h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
        <!-- <div>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a aria-current="page" href="#" class="router-link-active router-link-exact-active nav-link active"
                data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="List"
                aria-label="List">
                <i class="bx bx-list-ul"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                data-bs-original-title="Grid" aria-label="Grid"><i class="bx bx-grid-alt"></i></a>
            </li>
          </ul>
        </div> -->
        <div>
          <a (click)="AddEmployee()" data-bs-toggle="modal" data-bs-target=".add-new" class="btn custom-green">
            <i class="bx bx-plus me-1"></i> Thêm mới môn học
          </a>
        </div>
        <!-- <div class="dropdown">
          <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-horizontal-rounded"></i></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col" class="ps-4" style="width: 50px;">

                </th>
                <th scope="col">Tên môn học</th>
                <th scope="col">Mã môn học</th>
                <th scope="col">Số tín chỉ</th>
                <th scope="col">Tên khoa</th>
                <!-- <th scope="col">Số tiết</th> -->
                <th scope="col">Giáo viên</th>
                <th scope="col">Tên phòng</th>
                <th scope="col" style="width: 200px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- *ngFor="let item of list" -->
              <tr *ngFor="let employee of employeeList">
                <th scope="row" class="ps-4">

                </th>

                <td><a class="text-body">{{ employee.name }}</a></td>
                <td><a class="text-body">{{ employee.code }}</a></td>
                <td><a class="text-body">{{ employee.credits }}</a></td>
                <td><a class="text-body">{{ employee.department }}</a></td>
                <td><a class="text-body">{{ employee.teacherName}} </a></td>
                <td><a class="text-body">{{ employee.roomName }}</a></td>

                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        (click)="openEditModal(employee)" title="Xem chi tiết và sửa" class="px-2 text-primary"><i
                          class="bx bx-pencil font-size-18"></i></a>
                    </li>
                    <li (click)="deleteById(employee.id)" class="list-inline-item">
                      <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                        class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                    </li>

                    <li class="list-inline-item">
                      <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        (click)="openEditModal(employee)" title="Danh sách sinh viên đã đăng kí"
                        class="px-2 text-primary"> <i class='bx bx-user font-size-18'></i> </a>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn test" [ngClass]="employee.isRegister ? 'btn-danger' : 'btn-primary'"
                        (click)="toggleRegister(employee)" data-bs-toggle="tooltip"
                        [title]="employee.isRegister ? 'Đóng đăng kí' : 'Mở đăng kí'">

                        {{ employee.isRegister ? 'Đóng đăng kí' : 'Mở đăng kí' }}

                      </button>
                    </li>


                    <!-- <li class="list-inline-item dropdown">
                      <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another
                          action</a><a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> -->
                  </ul>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0 align-items-center pb-4">
    <div class="col-sm-6">
      <div>
        <!-- <p class="mb-sm-0">Showing 1 to 10 of 57 entries</p> -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="float-sm-end">
        <ul class="pagination mb-sm-0">

          <!-- Nút Previous -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)">
              <i class="mdi mdi-chevron-left"></i>
            </a>
          </li>

          <!-- Các số trang -->
          <li class="page-item" *ngFor="let p of totalPagesArr" [class.active]="p === currentPage">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>

          <!-- Nút Next -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)">
              <i class="mdi mdi-chevron-right"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="userFormModal" #userFormModal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 24px; font-weight: bold;">Nhập thông tin môn học</h5>
        <button (click)="closeModal()" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!-- FORM -->
      <form #employeeForm="ngForm" (ngSubmit)="addSubject(employeeForm.valid)" novalidate>
        <div class="modal-body">

          <div class="row">
            <div class="col">

              <!-- Tên môn học -->
              <div class="form-group mb-3">
                <label>Tên môn học</label>
                <input class="form-control" type="text" name="name" required [(ngModel)]="addEmployeeForm.name"
                  #nameRef="ngModel">

                <div *ngIf="nameRef.invalid && nameRef.touched" class="text-danger">
                  Tên môn học không được để trống
                </div>
              </div>

              <!-- Mã môn học -->
              <div class="form-group mb-3">
                <label>Mã môn học</label>
                <input class="form-control" type="text" name="code" required [(ngModel)]="addEmployeeForm.code"
                  #codeRef="ngModel">

                <div *ngIf="codeRef.invalid && codeRef.touched" class="text-danger">
                  Mã môn học không được để trống
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <!-- Số tín chỉ -->
                  <div class="form-group mb-3">
                    <label>Số tín chỉ</label>
                    <input class="form-control" type="number" name="credits" required
                      [(ngModel)]="addEmployeeForm.credits" #creditsRef="ngModel">

                    <div *ngIf="creditsRef.invalid && creditsRef.touched" class="text-danger">
                      Vui lòng nhập số tín chỉ
                    </div>
                  </div>
                </div>

                <div class="col">
                  <!-- Phòng -->
                  <div class="form-group mb-3">
                    <label>Phòng</label>
                    <input class="form-control" type="text" name="roomName" required
                      [(ngModel)]="addEmployeeForm.roomName" #roomRef="ngModel">

                    <div *ngIf="roomRef.invalid && roomRef.touched" class="text-danger">
                      Vui lòng nhập tên phòng
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <!-- Giáo viên -->
                  <div class="form-group mb-3">
                    <label>Giáo viên</label>
                    <input class="form-control" type="text" name="teacherName" required
                      [(ngModel)]="addEmployeeForm.teacherName" #teacherRef="ngModel">

                    <div *ngIf="teacherRef.invalid && teacherRef.touched" class="text-danger">
                      Vui lòng nhập tên giáo viên
                    </div>
                  </div>
                </div>

                <div class="col">
                  <!-- Khoa -->
                  <div class="form-group mb-3">
                    <label>Khoa</label>
                    <input class="form-control" type="text" name="department" required
                      [(ngModel)]="addEmployeeForm.department" #departmentRef="ngModel">

                    <div *ngIf="departmentRef.invalid && departmentRef.touched" class="text-danger">
                      Vui lòng nhập tên khoa
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <!-- Số tiết -->
                  <div class="form-group mb-3">
                    <label>Số tiết</label>
                    <input class="form-control" type="number" name="classPeriodNumber" required
                      [(ngModel)]="addEmployeeForm.classPeriodNumber" #periodRef="ngModel">

                    <div *ngIf="periodRef.invalid && periodRef.touched" class="text-danger">
                      Vui lòng nhập số tiết
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col">
                      <!-- Giờ bắt đầu -->
                      <div class="form-group mb-3">
                        <label>Giờ bắt đầu (Tiết)</label>
                        <select class="form-select" name="lessonStart" required
                          [(ngModel)]="addEmployeeForm.lessonStart" #startRef="ngModel">
                          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="i">{{ i }}</option>
                        </select>

                        <div *ngIf="startRef.invalid && startRef.touched" class="text-danger">
                          Vui lòng chọn giờ bắt đầu
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <!-- Giờ kết thúc -->
                      <div class="form-group mb-3">
                        <label>Giờ kết thúc (Tiết)</label>
                        <select class="form-select" name="lessonEnd" required [(ngModel)]="addEmployeeForm.lessonEnd"
                          #endRef="ngModel">
                          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="i">{{ i }}</option>
                        </select>

                        <div *ngIf="endRef.invalid && endRef.touched" class="text-danger">
                          Vui lòng chọn giờ kết thúc
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <!-- Thứ -->
                  <div class="form-group mb-3">
                    <label>Thứ trong tuần</label>
                    <select class="form-select" name="dayOfWeek" required [(ngModel)]="addEmployeeForm.dayOfWeek"
                      #dayRef="ngModel">
                      <option value="">-- Chọn thứ --</option>
                      <option>Thứ 2</option>
                      <option>Thứ 3</option>
                      <option>Thứ 4</option>
                      <option>Thứ 5</option>
                      <option>Thứ 6</option>
                      <option>Thứ 7</option>
                      <option>CN</option>
                    </select>

                    <div *ngIf="dayRef.invalid && dayRef.touched" class="text-danger">
                      Vui lòng chọn thứ học
                    </div>
                  </div>
                </div>

                <div class="col">
                  <!-- Số sinh viên tối đa -->
                  <div class="form-group mb-3">
                    <label>Số sinh viên tối đa</label>
                    <input class="form-control" type="number" name="studentNumberMax" required
                      [(ngModel)]="addEmployeeForm.studentNumberMax" #maxRef="ngModel">

                    <div *ngIf="maxRef.invalid && maxRef.touched" class="text-danger">
                      Vui lòng nhập số sinh viên tối đa
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Ngày bắt đầu -->
                <div class="col">
                  <div class="form-group mb-3">
                    <label>Bắt đầu học phần</label>
                    <input type="date" class="form-control" name="startDate" required
                      [(ngModel)]="addEmployeeForm.startDate" #startDateRef="ngModel">

                    <div *ngIf="startDateRef.invalid && startDateRef.touched" class="text-danger">
                      Vui lòng chọn ngày bắt đầu
                    </div>
                  </div>
                </div>

                <!-- Ngày kết thúc -->
                <div class="col">
                  <div class="form-group mb-3">
                    <label>Kết thúc học phần</label>
                    <input type="date" class="form-control" name="endDate" required
                      [(ngModel)]="addEmployeeForm.endDate" #endDateRef="ngModel">

                    <div *ngIf="endDateRef.invalid && endDateRef.touched" class="text-danger">
                      Vui lòng chọn ngày kết thúc
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- BUTTON -->
          <div class="row">
            <div class="col d-flex justify-content-end">
              <button class="btn btn-primary custom-btn" type="submit" [disabled]="employeeForm.invalid">
                {{ mode === 'add' ? 'Thêm mới' : 'Cập nhật' }}
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>