<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Lịch học 2025</b></h4>
                        <!-- <h4><b>s Employee</b></h4> -->

                    </div>
                    <div class="col-sm-6">

                        <a href="#" routerLink="/Home" class="btn btn-success back"><i
                                class='fas fa-arrow-circle-left'></i>
                            &nbsp;Back</a>

                    </div>
                </div>

            </div>
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>