<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Danh sách môn học</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="AddEmployee()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Tên Môn học</th>
            <th>Mã môn học</th>
            <th>Số tín chỉ</th>
            <th>Số sinh viên tối đa</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList" class="center-align">
            <td>{{ employee.name }}</td>
            <td>{{ employee.code }}</td>
            <td>{{ employee.credits }}</td>
            <td>{{ employee.studentNumberMax }}</td>
            <td>{{ employee.registrationStart }}</td>
            <td>{{ employee.registrationEnd }}</td>
            <td>
              <a [routerLink]="['/ViewEmployee/', employee.id]" class="btn"><i class='fas fa-eye view'></i></a>
              <a [routerLink]="['/ViewEmployee/', employee.id]" class="btn">sssssss</a>
              <a [routerLink]="['/EditEmployee/', employee.id]" class="btn"><i class="fa fa-edit edit"></i></a>
              <a [routerLink]="['/EditEmployee/', employee.id]" class="btn"><i class="fa fa-edit edit"></i></a>
              <a [routerLink]="['/EditEmployee/', employee.id]" class="btn"><i class="bi bi-person-fill"></i></a>

              <button type="button" (click)="deleteEmployeeConfirmation(employee)" class="btn"><i
                  class='fas fa-trash-alt delete'></i></button>
                  
            </td>
          </tr>
          <tr>
            <td *ngIf="employeeList.length == 0" colspan="6">No Employee Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới môn học</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form #employeeForm="ngForm">
        <div class="modal-body">
          <div class="py-1">
            <form class="form" novalidate="">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Tên môn học</label>
                        <input class="form-control" type="text" name="name" [(ngModel)]="addEmployeeForm.name">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Mã Môn học</label>
                        <input class="form-control" type="text" name="username" [(ngModel)]="addEmployeeForm.code">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Số tín chỉ</label>
                        <input class="form-control" type="number" name="name" [(ngModel)]="addEmployeeForm.credits">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Tên Khoa</label>
                        <input class="form-control" type="text" name="username"
                          [(ngModel)]="addEmployeeForm.department">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Số tiết</label>
                        <input class="form-control" type="number" name="name">
                      </div>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">

                            <label for="roleSelect">Giờ bắt đầu (Tiết học)</label>
                            <select class="form-select" id="roleSelect" name="lessonStart"
                              [(ngModel)]="addEmployeeForm.lessonStart">
                              <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="i">{{ i }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <!-- <label>Giờ kết thúc</label> -->
                            <label for="roleSelect">Giờ kết thúc(Tiết học)</label>
                            <select class="form-select" id="roleSelect" name="lessonEnd"
                              [(ngModel)]="addEmployeeForm.lessonEnd">
                              <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="i">{{ i }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <div class="form-group">
                          <!-- <label>Giờ kết thúc</label> -->
                          <label for="roleSelect">Thứ trong tuần</label>
                          <select class="form-select" id="roleSelect" name="dayOfWeek"
                            [(ngModel)]="addEmployeeForm.dayOfWeek">
                            <option>Thứ 2</option>
                            <option>Thứ 3</option>
                            <option>Thứ 4</option>
                            <option>Thứ 5</option>
                            <option>Thứ 6</option>
                            <option>Thứ 7</option>
                            <option>CN</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Số sinh viên tối đa</label>
                        <input class="form-control" [(ngModel)]="addEmployeeForm.studentNumberMax" type="number"
                          name="username">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Thời gian bắt đầu học phần
                        </label>
                        <input type="date" class="form-control" id="startDate" [(ngModel)]="addEmployeeForm.startDate"
                          name="startDate">
                      </div>
                    </div>
                    <div class="col">
                      <!-- <div class="form-group"> -->
                      <label>Thời gian kết thúc học phần</label>
                      <input type="date" class="form-control" id="endDate" [(ngModel)]="addEmployeeForm.endDate"
                        name="endDate">
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                  <!-- <div class="mb-2"><b>Keeping in Touch</b></div>
                <div class="row">
                  <div class="col">
                    <label>Email Notifications</label>
                    <div class="custom-controls-stacked px-2">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                        <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                        <label class="custom-control-label" for="notifications-news">Newsletter</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                        <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                      </div>
                    </div>
                  </div>
                </div>-->
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-end">
                  <button class="btn btn-primary" data-bs-dismiss="modal" type="submit"
                    (click)="addSubject(employeeForm.form.valid)">Save
                    Changes</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>